<nav class="navbar navbar-expand-lg bg-success-subtle mb-4 border border-secondary-subtle border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <lord-icon 
      src="https://cdn.lordicon.com/axteoudt.json"
      trigger="hover"
      style="width:30px;height:30px">
      </lord-icon>
    </a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="#About-section">About</a>
      </div>
      <div class="navbar-collapse btndiv">
        <button class="btn btn-primary btn-sm me-4" type="button">Sign Up</button>
        <button class="btn btn-sm" id="theme-toggle"><i class="fa-solid fa-moon" id="theme-icon"></i></button>
      </div>
    </div>
  </div>
  </nav>