<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentiQuiz</title>
</head>
<body>
    <form action="/joinquiz" method="get">
        <button>Join A Quiz</button>
    </form>
    <form method="get" action="/createquiz">
        <button>Create A Quiz</button>
    </form>
</body>
</html>