<% layout('/layouts/boilerplate') -%>
    <form action="/quiz/join" method="get">
        <button>Join A Quiz</button>
    </form>
    <form method="get" action="/quiz/create">
        <button>Create A Quiz</button>
    </form>
