body{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
} 
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

hr{
    width: 100%;
}

p{
    line-height: 40px;
}

h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

li{
    text-align: start;
}

/* navbar Styling */

.navbar-brand{
    position: relative;
    top: 5px;
}

.btndiv{
    display: flex;
    justify-content: right !important;
    
}

.err-div{
    display: flex;
    align-items: center;
}

/* home-section*/
h3{
    text-align: center;
}

.join-btn{
    width: 150px;
    border-radius: 20px !important;
    border: none !important;
}

#create-btn{
    border-radius: 20px !important;
    border: none !important;
}

.join-btn:hover{
    background-color: transparent !important;
    outline: auto !important;
    color: black !important;
    background: linear-gradient(#49d0da,#564cc0) !important;
    border-radius: 20px;
}

#create-btn:hover{
    background-color: transparent !important;
    outline: auto !important;
    background: linear-gradient(#49d0da,#564cc0) !important;
    color: black;
    border-radius: 20px;
}

.coin-container{
    text-align: center;
}

/* about-section */
.about-section{
    display: flex;
    flex-direction: row;
}

.doc-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot{
    text-align: center;
    transition: 0.3s ease;
}

/* hostquiz page */

#createQuizForm{
    width: 120vh;
    padding: 30px;
}

/* show page */

.btns{
    display: flex !important;
    gap: 20px !important;

}

/* join page */
#join-form{
    width: 120vh;
    padding: 30px;
    font-size: 20px;
    margin-top: 150px;
    height: 300px;
}

#code{
    height: 60px;
    width: 500px;
}