<% layout('/layouts/boilerplate') -%>
<script>
    const socket = io();
    const quizCode = '<%= quizCode %>';

socket.on("updatePlayers", (players) => {
    document.getElementById("playersList").innerHTML = players
        .map(player => `<li>${player.playerName} - <img src="/avatars/${player.profilePic}" width="50"></li>`)
        .join("");
});

socket.on("quizStarted", () => {
    console.log("🚀 Quiz starting... Redirecting");
    window.location.href = `/quiz/${quizCode}/start`;
});

setTimeout(() => {
    socket.emit("startQuiz", quizCode);
}, 60000); // 60 seconds waiting time
</script>
<div class="container">
    <h3>Waiting For Players</h3>
    <br/>
    <h4>Quiz start in <span id="timer">60</span> seconds <lord-icon src="https://cdn.lordicon.com/mwikjdwh.json" trigger="loop" delay="500" state="loop-clock" style="width:50px;height:50px"></lord-icon></h4>
    <ul class="playersList"></ul>
</div>
<script>
    let timeLeft = 60;
        const timer = setInterval(() => {
            timeLeft--;
            document.getElementById("timer").textContent = timeLeft;
            if (timeLeft <= 0) clearInterval(timer);
        }, 1000);
</script>
