<% layout('/layouts/boilerplate') -%>
<div class="container">
    <h2 class="">Waiting For Players</h2>
    <div class="clock">
        <lord-icon src="https://cdn.lordicon.com/twpfmtiv.json" trigger="loop" delay="500" stroke="bold" style="width:150px;height:150px"></lord-icon>
    </div>
    <h6 id="countdownTimer" class="mb-5"> quiz to start ....</h6>
    <h6>Players joined: </h6>
    <ul id="playersList"></ul>
</div>
<!-- Include Socket.IO client library from CDN -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/waitingPage.js"></script>

